body {
    background-image: url('/Images/Majestic%20Dragon%20Mountain.jpeg');
    background-size: cover; /* Cover the entire page */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-attachment: fixed; /* Optional: Makes the background image fixed during scroll */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header h1 {
    text-align: center;
    margin: 0;
    padding: 20px 0;
}

main p {
    text-align: center;
    line-height: 1.6;
}

.signup-btn {
    display: block;
    width: 150px;
    margin: 20px auto;
    padding: 10px;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #007BFF;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.signup-btn:hover {
    background-color: #0056b3;
}

/* Reset list styles */
.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #333;
}

.nav-links li {
    display: inline;
}

.nav-links li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.nav-links li a:hover {
    background-color: #555;
}

/* If you want the navbar to be full width */
.navbar {
    width: 100%;
    overflow: auto;
}

